body {
    margin: 0;
}

header {
    width: 100vw;
}

nav {
    background-color: rgb(245, 233, 217);
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    z-index: 10;
}

nav .navigation {
    display: flex;
    gap: 3em;
}

nav .compra {
    display: flex;
    gap: 2em;
}

nav .logo img {
    width: 100px;
    height: auto;
}

nav .compra a {
    text-decoration: none;
    font-size: x-large;
    color: rgb(59, 43, 25);
}

nav .compra a:hover {
    color: rgb(170, 93, 6);
    ;
}

nav .navigation a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: rgb(59, 43, 25);
    text-decoration: none;
}

nav .navigation a:hover {
    color: rgb(170, 93, 6);
    ;
}

.slide {
    padding-top: 35px;
}

main {
    width: 100vw;
}

.text-prod-des p {
    padding-top: 2em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: rgb(37, 29, 14);
}

.producto1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
}

.producto-imagen {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.producto-imagen a {
    text-decoration: none;
    background: rgb(236, 70, 58);
    font-size: large;
    color: white;
    padding: 8px;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%;
}

.producto-imagen img {
    width: 250px;
    height: auto;
    border-radius: 10%;
}

.testimonios {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(224, 223, 221);
    gap: 1em;
}

.texto-testimonios p {
    width: 20vw;
    height: 80vh;
    color: white;
    background-color: rgb(206, 88, 10);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2.2em;
    font-weight: 500;
}

.testimonios-personas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.relatos {
    width: 25%;
    height: auto;
    padding-top: 5%;
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.relatos img {
    width: 100px;
    height: auto;
    position: absolute;
    top: -50px;
    left: -50px;
}

.footer {
    background-color: rgb(66, 62, 50);
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-footer p {
    color: rgb(255, 235, 193);
    text-align: center;
    font-weight: 600;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.redes-sociales a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}
@media screen and (max-width: 600px) {
    nav .navigation{
        display: none;
    }
    .producto1{
        display: flex;
        flex-direction: column;
    }
    .testimonios{
        display: flex;
        flex-direction: column;
    }
    .texto-testimonios{
        background-color: rgb(206, 88, 10);
        display: flex;
        align-items: center;
        text-align: center;
        width: 100vw;
        justify-content: center;
    }
    .testimonios-personas{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100vw;
    }
    .relatos{
        margin-top: 10%;
        padding: 0 2%;
        width: 80vw;
    }
    }